<!DOCTYPE html>
<html>
  <head>
    <title>My-Note</title>
    <style type="text/css">
      .icon {
         width: 1em; height: 1em;
         vertical-align: -0.15em;
         fill: currentColor;
         overflow: hidden;
      }
  </style>
  </head>
  <body>
    <div id="app"></div>
    <script src="//at.alicdn.com/t/font_1233063_jld3qyowws.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
